In [17]:
!pip show pymongo

Name: pymongo
Version: 3.10.1
Summary: Python driver for MongoDB <http://www.mongodb.org>
Home-page: http://github.com/mongodb/mongo-python-driver
Author: Mike Dirolf
Author-email: mongodb-user@googlegroups.com
License: Apache License, Version 2.0
Location: c:\anaconda3\lib\site-packages
Requires:
Required-by:

### Pymongo를 사용해서 MongoDB 제어하기

1. pymongo 라이브러리 import
2. MongoDB 접속
3. Database, Collection 생성
4. Collection 에 documment 를 CRUD하기

In [34]:
import pymongo

# connection 생성
conn = pymongo.MongoClient('localhost', 27017)
print(conn)

# database 생성
db = conn.pymongo_db
print(db)
print(db.name)

# collection 생성
col = db.pymongo_col
print(col)
print(col.name)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)
Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db')
pymongo_db
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db'), 'pymongo_col')
pymongo_col

### Insert_one(), insert_many() 함수

In [35]:
post = {'author':'길동', 'text':'첫번째 글', 'tags':['mongodb', 'python', 'pymongo']}
col.insert_one(post)
print(col.inseted)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db'), 'pymongo_col.inseted')

In [36]:
 col.find()

In [37]:
for post in col.find():
    print(type(post), post) 
# <class 'dict'>
# _id 자동 생성

<class 'dict'> {'_id': ObjectId('5f226303e9433bd3a9450e24'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}

In [38]:
# documents 개수
col.count_documents({})

1

In [39]:
posts = [
    {'author':'둘리', 'age':10},
    {'author':'바다', 'age':20},
    {'author':'연못', 'age':30},
]
col.insert_many(posts)

In [40]:
print(col.count_documents({}))

for post in col.find():
    print(type(post), post)

4
<class 'dict'> {'_id': ObjectId('5f226303e9433bd3a9450e24'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}
<class 'dict'> {'_id': ObjectId('5f22630ee9433bd3a9450e25'), 'author': '둘리', 'age': 10}
<class 'dict'> {'_id': ObjectId('5f22630ee9433bd3a9450e26'), 'author': '바다', 'age': 20}
<class 'dict'> {'_id': ObjectId('5f22630ee9433bd3a9450e27'), 'author': '연못', 'age': 30}

In [33]:
# db.drop_collection('pymongo_col')

{'nIndexesWas': 1, 'ns': 'pymongo_db.pymongo_col', 'ok': 1.0}

In [41]:
for post in col.find({}, {'author':1, 'age':1, 'text':1, '_id':0}):
    print(post)

{'author': '길동', 'text': '첫번째 글'}
{'author': '둘리', 'age': 10}
{'author': '바다', 'age': 20}
{'author': '연못', 'age': 30}

In [46]:
for post in col.find({}, {'author':1, 'age':1, 'text':1, '_id':0}).sort('age',1):
    print(post)

{'author': '길동', 'text': '첫번째 글'}
{'author': '둘리', 'age': 10}
{'author': '바다', 'age': 20}
{'author': '연못', 'age': 30}

In [47]:
for post in col.find({}, {'author':1, 'age':1, 'text':1, '_id':0}).sort('age',pymongo.ASCENDING):
    print(post)

{'author': '길동', 'text': '첫번째 글'}
{'author': '둘리', 'age': 10}
{'author': '바다', 'age': 20}
{'author': '연못', 'age': 30}

In [48]:
for post in col.find({}, {'author':1, 'age':1, 'text':1, '_id':0}).sort('age',pymongo.DESCENDING):
    print(post)

{'author': '연못', 'age': 30}
{'author': '바다', 'age': 20}
{'author': '둘리', 'age': 10}
{'author': '길동', 'text': '첫번째 글'}

In [49]:
# employees collection 생성하기
emp = db.employees
print(emp)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db'), 'employees')

In [54]:
from datetime import datetime

datetime.strptime('2016-01-02', '%Y-%m-%d')

datetime.datetime(2016, 1, 2, 0, 0)

In [55]:
emp_list = [
  {"number":1001,"last_name":"Smith","first_name":"John","salary":62000,"department":"sales", 'hire_date':datetime.strptime("2016-01-02", '%Y-%m-%d')},
  {"number":1002,"last_name":"Anderson","first_name":"Jane","salary":57500,"department":"marketing", 'hire_date':datetime.strptime("2013-11-09", '%Y-%m-%d')},
  {"number":1003,"last_name":"Everest","first_name":"Brad","salary":71000,"department":"sales", 'hire_date':datetime.strptime("2017-02-03", '%Y-%m-%d')},
  {"number":1004,"last_name":"Horvath","first_name":"Jack","salary":42000,"department":"marketing", 'hire_date':datetime.strptime("2017-06-01", '%Y-%m-%d')},
]
emp.insert_many(emp_list)

In [56]:
for employee in emp.find():
    print(employee)

{'_id': ObjectId('5f226609e9433bd3a9450e28'), 'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'_id': ObjectId('5f226609e9433bd3a9450e29'), 'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}
{'_id': ObjectId('5f226609e9433bd3a9450e2a'), 'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0)}
{'_id': ObjectId('5f226609e9433bd3a9450e2b'), 'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [68]:
# first_name like %a%
filter = {'first_name':{'$regex':'a'}} # a 포함
filter = {'first_name':{'$regex':'^J'}} # 첫글자
filter = {'last_name':{'$regex':'h$'}} # 마지막글자

from datetime import datetime

from_dt = datetime.strptime('2016-01-02', '%Y-%m-%d')
to_dt = datetime.strptime('2017-05-30', '%Y-%m-%d')
filter = {
    'hire_date': {"$gte":from_dt, '$lte':to_dt}
}

filter = {'number':{'$in':[1001,1002]}}

for employee in emp.find(filter, {'_id':0}):
    print(employee)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}

### update_one(), update_many() 함수

In [69]:
emp.update_one({'number':1001},{'$set':{'department':'marketing'}})

In [80]:
for employee in emp.find({}, {'_id':0}):
    print(employee)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 63000, 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0), 'status': 'A'}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0), 'status': 'A'}

In [72]:
# number = 1001, salary 62000 -> 63000
emp.update_one({'number':1001}, {'$inc':{'salary':1000}})

In [75]:
# 존재하지 않는 field를 update를 사용해서 추가도 가능
emp.update_many({}, {'$set': {'status':'A'}})

In [77]:
# update_many()
# number in [1003, 1004] 인 document의 status = 'B'로 update
emp.update_many({'number':{'$in': [1003,1004]}}, {'$set':{'status': 'B'}})

In [79]:
# delete_many()
# status = 'B'인 employee 삭제
emp.delete_many({'status':'B'})